{% extends "base.html" %}

{% block content %}

<form target = "/blog-post" method = "post">
    <table>
        <tr>
            <td><label>Title:</label></td>
            <td><input type="text" name="post_title" value="{{title}}" required/></td>
            <td><span class='error'> {{titleerror}} </span></td>
        </tr>
        <tr>
            <td><label>Post Content:</label></td>
            <td><textarea name="post_content_text" value = "{{content}}" required>{{content}}</textarea></td>
            <td><span class='error'> {{contenterror}} </span></td>
        </tr>
    </table>
    <input type="submit" value ="Post It"/>
</form>

{% endblock %}
